.container-post {
  padding: 5% 0;
  width: 900px;
  height: 100%;
  font-size: 1.9rem;
  text-align: justify; 
}

.container-post h3 {
  font-weight: 400;
  color: #6d6c79;
}

.container-post time {
  font-size: 1.3rem;
  font-weight: 300;
}

@media screen and (max-width: 700px){
  .container-post {
    padding: 10%;
    min-height: 100%;
    min-width: 100%;
  }
  .text-post{
    margin: 5%;
  }
}
